.cart-section {
  @include flex-container(column);
  align-items: center;
  width: 100%;
  .container {
    width: 70%;
    @include flex-container(column);
    align-items: center;
    gap: 10px;
    @media (max-width: 1000px) {
      width: 90%;
    }
    h1 {
      font-family: var(--base-font);
      font-size: 25px;
      font-weight: 300;
      color: white;
      padding: 50px 0 80px 0;
      letter-spacing: 0.2cap;
    }
    .cart-header {
      flex: 1;
      text-transform: uppercase;
      font-size: 13px;
      color: white;
      width: 100%;
      font-family: var(--base-font);
      letter-spacing: 0.2cap;
      @media (max-width: 700px) {
        display: none;
      }
      .articles {
        width: 75%;
      }
      .amount {
        width: 25%;
      }
      .total {
        width: 25%;
        display: flex;
        justify-content: flex-end;
      }
    }
    .header-liner {
      width: 100%;
      height: 1px;
      background-color: var(--light-gray);
      margin-bottom: 20px;
    }
    .top {
      @media (max-width: 700px) {
        display: none;
      }
    }
    .cart-item {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      flex: 1;
      justify-content: space-between;

      .cart-item-info {
        height: 180px;
        gap: 20px;
        align-items: center;

        img {
          height: 100%;
          object-fit: contain;
        }
        .item-details {
          display: flex;
          @media (max-width: 700px) {
            flex-direction: column;
            gap: 10px;
          }
          .item {
            @include flex-container(column);
            gap: 10px;
            width: 75%;
            @media (max-width: 700px) {
              width: 100%;
            }
            p {
              text-transform: uppercase;
              font-size: 13px;
              color: white;
              font-family: var(--base-font);
              letter-spacing: 0.2cap;
              font-weight: 300;
            }
            .italic {
              font-style: italic;
              font-size: 10px;
            }
          }
        }
      }
      .cart-item-amount {
        width: 35%;
        @include flex-container(column);
        align-items: flex-start;
        justify-content: center;
        @media (max-width: 700px) {
          width: 100%;
          display:flex ;
          justify-content: space-between;
        }

        .amount-container {
          gap: 10px;
          @include flex-container(column);
          align-items: center;
          justify-content: center;
          @media (max-width: 700px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
          }

          .quantity {
            justify-content: space-around;
            align-items: center;
            display: flex;
            width: 100px;
            height: 40px;
            border: 1px solid var(--light-gray);
            @media (max-width: 700px) {
              width: 80px;
              height: 35px;
            }
            span {
              color: white;
              font-size: 15px;
            }
            img {
              height: 10px;
            }
          }
          .remove {
            font-size: 10px;
            color: white;
            font-family: var(--base-font);
            letter-spacing: 0.2cap;
            font-weight: 300;
            position: relative;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: -2px;
              left: 0;
              background-color: white;
              transition: width 0.3s ease;
            }   
             &:hover::after {
              width: 0;
            }
            
          }
        }
      }
      .cart-item-total {
        display: flex;
        align-items: center;
        width: 25%;
        justify-content: flex-end;
        font-size: 13px;
        color: white;
        font-family: var(--base-font);
        letter-spacing: 0.3cap;
        @media (max-width: 700px) {
          display: none;
        }
      }
    }
    .check-part {
      width: 100%;
      .check-container {
        justify-content: space-between;
        flex:1;
        @media (max-width: 700px) {
          flex-direction: column;
        gap: 15px;

        }
        form {
          gap: 18px;
          @include flex-container(column);
          flex-grow: 1;

          @media (max-width: 700px) {
            width: 100%;
          }
          p {
            font-size: 12px;
            font-family: var(--base-font);
            color: white;
          }
          input {
            background-color: var(--dark-gray);
            border: 1px solid var(--light-gray);
            color: white;
            display: flex;
            width: 100%;
            padding: 15px 10px 60px 10px;
            justify-content: flex-start;
            align-items: end;
          }
        }
        .total-container {
          flex-grow: 1;
          @include flex-container(column);
          align-items: flex-end;
          gap: 15px;

          span {
            font-family: var(--base-font);
            letter-spacing: 0.3cap;
            color: white;
            text-transform: uppercase;
          }
          p {
          text-align: right;

            font-family: var(--base-font);
            font-size: 12px;
            color: white;
          }
          button {
            font-family: var(--base-font);
            letter-spacing: 0.2cap;
            text-transform: uppercase;
            padding: 17px 30px;
            background-color: var(--green);
            cursor: pointer;
            border: none;
            @media (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
