.delivery {
  @include flex-container(column);
  gap: 10px;
  .react-tel-input {
    border-radius: 5px;
    .form-control {
      width: 100% !important;
      height: 45px;
      background-color: var(--dark-gray);
      border: 1px solid var(--light-gray);
      color: gray;
    }
    .flag-dropdown {
      background-color: var(--dark-gray);
      border: 1px solid var(--light-gray);
    }
    .selected-flag {
      background-color: var(--dark-gray) !important;
    }
  }
  p {
    font-family: var(--base-font);
    font-size: 20px;
    font-weight: 500;
    color: white;
  }
  input,
  select {
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--light-gray);
    background-color: var(--dark-gray);
    padding: 15px 10px;
    width: 100%;
  }
  .form-control {
    color: #000000;
  }
  select {
    color: #ffffff;

    option {
      color: #ffffff;
    }
  }
  .name-surname {
    gap: 10px;
    div {
      width: 100%;
    }
  }
  .adress-info {
    gap: 10px;
  }
  .num {
    @include flex-container(column);
    gap: 10px;
    margin-bottom: 20px;
  }
}

.shipping {
  font-family: var(--base-font);
  font-size: 15px;
  color: white;
}

.metod {
  margin-top: 20px;
  width: 100%;
  padding: 17px 10px;
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  color: var(--gray);
  font-family: var(--base-font);
  font-size: 13px;
}

.errorInput {
  border: 1px solid var(--error) !important;
}

.error-text {
  color: var(--error) !important;
  font-size: 13px !important;
  text-align: center;
  font-size: var(--base-font) !important;
}
