.payment-form {
  color: white;
  border-radius: 10px;
  width: 100%;
  input {
    background-color: rgb(48, 48, 48);
    border: 1px solid var(--light-gray);
    padding: 15px 10px;
    border-radius: 5px;
  }

  h2 {
    margin-bottom: 10px;
  }
  .payment-method {
    cursor: pointer;
    .first-dot {
      align-items: center;
      gap: 10px;
      padding: 20px 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: var(--dark-gray);
      width: 100%;
      justify-content: space-between;
      border: 1px solid white;
      .text-part {
        justify-content: space-between;
        .text {
          font-family: var(--base-font);
          font-size: 15px;
        }
        .icon {
          .icons {
            gap: 5px;
            img {
              height: 25px;
            }
          }
        }
      }
    }
  }

  .method {
    cursor: pointer;
    .second-dot {
      align-items: center;
      gap: 10px;
      padding: 0px 10px;
      border: 1px solid var(--light-gray);
      .text-part {
        justify-content: space-between;
        align-items: center;
        .text {
          font-family: var(--base-font);
          font-size: 15px;
        }
        .icon {
          .pay-img {
            img {
              height: 50px;
            }
          }
        }
      }
    }
  }
  .payment {
    background-color: rgb(48, 48, 48);
    padding: 20px 10px;
    .card-details {
      @include flex-container(column);
      gap: 10px;
      background-color: rgb(48, 48, 48);
      .expiry-cvv {
        gap: 15px;
        display: flex;
        justify-content: space-between;
        input {
          width: 100%;
        }
      }
    }
  }
}
