.completed-section {
  width: 100%;
  background-color: black;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    .completed-title {
      width: 700px;
      text-align: center;
      p {
        font-family: var(--base-font);
        font-weight: 700;
        padding: 150px 20px;
        color: white;
        font-size: 50px;
      }
    }
  }
}
