.logo-section {
  // margin-top: 30px;
  .container {
    @media (max-width: 1000px) {
      flex-direction: column-reverse;
    }
    .boy-img {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
       img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        flex-grow: 1;
      }
      .boy-hoodie{
        @media (max-width: 1000px) {
           display: none;
          }
      }
      .girl-hoodie{
        display: none;
        @media (max-width: 1000px) {
            display: block;
           }
      }
    }
    .logo-part {
      background-color: black;
      flex: 1;
      @include flex-container(column);
      justify-content: center;
      align-items: center;
      @media (max-width: 1000px) {
        padding: 50px;
      }
      div {
        padding: 0 30px;
        @include flex-container(column);
        justify-content: center;
        align-items: center;
        .text {
          font-family: var(--base-font);
          color: white;
          font-size: 20px;
          line-height: 0.8cm;
        }
      }
    }
  }
}
