.category-header {
  background-color: var(--dark-gray);
  width: 100%;
  position: sticky;
  top: 63px;
  left: 0;
  z-index: 4; 
  @media (max-width: 1350px) {
    top: 110px;
  }

  @media (max-width: 1230px) {
    top: 78px;
  }
  @media (max-width: 640px) {
    top: 71px;
  }
  .container {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
    .grid {
      width: 120px;
      align-items: center;
      justify-content: center;
      padding: 22px;
      border-right: 1px solid var(--light-gray);
      gap: 10px;
      img {
        height: 20px;
      }
    }
    .button-container {
      @include flex-container(column);
      position: relative;
      .order {
        gap: 10px;
        padding: 22px 40px;
        text-transform: uppercase;
        border-left: 1px solid var(--light-gray);
        border-bottom: transparent;
        border-right: transparent;
        border-top: transparent;
        background-color: var(--dark-gray);
        font-family: var(--base-font);
        font-weight: 300;
        letter-spacing: 0.2cap;
        color: white;
        font-size: 15px;
      }
      .drop-button {
        display: flex;
        background-color: var(--dark-gray);

        box-shadow: 0px 0px 14px 1px rgb(65, 65, 65);
        @include flex-container(column);
        height: 350px;
        position: absolute;
        z-index: 1000;
        top: 120%;
        width: 300px;
        right: 10px;
        align-items: end;
        overflow-y: auto;
        button {
          padding: 30px 40px 0 40px;
          background-color: var(--dark-gray);
          border: none;
          height: 100%;
          font-family: var(--base-font);
          font-weight: 300;
          letter-spacing: 0.2cap;
          color: white;
          font-size: 15px;
        }
      }
    }
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
