.category-header {
  background-color: var(--dark-gray);
  width: 100%;
  position: sticky;
  top: 63px;
  left: 0;
  z-index: 4; 
  @media (max-width: 1350px) {
    top: 95px;
  }

  @media (max-width: 1230px) {
    top: 59px;
  }
  @media (max-width: 640px) {
    top: 63px;
  }
  .container {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);

    .grid {
      width: 120px;
      align-items: center;
      justify-content: center;
      padding: 22px;
      gap: 10px;
      @media (max-width:650px) {
        display: none;
      }
      img {
        cursor: pointer;
        height: 20px;
      }
    }
    .first-liner{
      width: 1px;
      height: 64px;
      background-color: var(--light-gray);
      @media (max-width:650px) {
       display: none;
      }
    }
    .button-container {
      width: 100%;
      position: relative;
      justify-content: flex-end;
      @media (max-width:650px) {
        width: 100%;
        justify-content:space-between;
      }
      .order {
        display: flex;
        cursor: pointer;
        gap: 10px;
        padding: 22px 40px;
        text-transform: uppercase;
        border: none;
        background-color: var(--dark-gray);
        font-family: var(--base-font);
        font-weight: 300;
        letter-spacing: 0.2cap;
        color: white;
        font-size: 15px;
        @media (max-width:650px) {
          padding: 22px 10px;

          display: flex;
          justify-content: center;
          width: 100%;

        }
      }

      .middle-liner{
        width: 1px;
        height: 64px;
        background-color: var(--light-gray);
        display: none;
        @media (max-width: 1066px) {
          display: block;
        }
      }

      .first-liner{
        width: 1px;
        height: 64px;
        background-color: var(--light-gray);
        @media (max-width: 623px) {
          display: none;
        }
      }
      .filter {
        display: none;
        cursor: pointer;
        gap: 10px;
        padding: 22px 40px;
        text-transform: uppercase;
        border: none;
        background-color: var(--dark-gray);
        font-family: var(--base-font);
        font-weight: 300;
        letter-spacing: 0.2cap;
        color: white;
        font-size: 15px;
        @media (max-width: 1066px) {
          display: block;
        }
        @media (max-width:650px) {
          width: 100%;
          padding: 22px 10px;

          display: flex;
          justify-content: center;
        }
      }

      .drop-button {
        display: flex;
        background-color: var(--dark-gray);
        box-shadow: 0px 0px 14px 1px rgb(65, 65, 65);
        @include flex-container(column);
        height: 350px;
        position: absolute;
        z-index: 1000;
        top: 120%;
        width: 300px;
        right: 10px;
        align-items: end;
        overflow-y: auto;
        button {
          cursor: pointer;
          padding: 30px 40px 0 40px;
          background-color: var(--dark-gray);
          border: none;
          height: 100%;
          font-family: var(--base-font);
          font-weight: 300;
          letter-spacing: 0.2cap;
          color: white;
          font-size: 15px;
        }
      }
    }
  }
}

.closed{
  display: none;
  @media (max-width:650px) {
    width: 120px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--light-gray);
  }
}