.central-header {
  width: 100%;
  background-color: var(--black);
  position: sticky;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgb(20, 20, 20);
  z-index: 5;
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: 1350px) {
      gap: 0;
      flex-direction: column !important;
      justify-content: space-around;
      padding: 10px 0 0 0;
    }

    @media (max-width: 1230px) {
      flex-direction: row !important;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
    }

    .burger {
      display: block;
      cursor: pointer;

      .menu {
        height: 25px;

        @media (max-width: 640px) {
          height: 20px;
        }

        @media (max-width: 340px) {
          height: 18px;
        }
      }

      @media (min-width: 1230px) {
        display: none;
      }
    }

    .logo {
      .logo {
        margin-left: 0;

        @media (max-width: 1350px) {
          margin-top: 15px;
        }

        @media (max-width: 1230px) {
          margin-left: 64px;
        }

        @media (max-width: 464px) {
          margin-left: 36px;
        }

        img {
          @media (max-width: 640px) {
            height: 23px;
          }
        }
      }
    }

    .image {
      display: flex;
      gap: 20px;

      @media (max-width: 1350px) {
        position: absolute;
        bottom: 70px;
        right: 60px;
      }

      @media (max-width: 1230px) {
        position: static;
        align-items: center;
      }

      @media (max-width: 464px) {
        gap: 12px;
      }

      .icon {
        display: flex;
        height: 22px;
        cursor: pointer;
        @media (max-width: 640px) {
          height: 18px;
        }
        a {
          .user {
            height: 22px;
            @media (max-width: 640px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
