.navbar {
  @media (max-width: 1230px) {
    display: none;
  }

  .navlist {
    padding: 0 100px 0 0;
    color: white;
    display: flex;
    font-family: var(--base-font);
    font-size: 15px;
    gap: 40px;
    letter-spacing: 0.2cap;

    @media (max-width: 1350px) {
      padding: 0 0;
    }

    .navitem {
      padding: 22px 0;
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: white;
        transition: width 0.3s ease;
        height: 2px;
      }

      &:hover::after {
        width: 100%; 
      }

      .dropdownMenu {
        @include flex-container(column);
        justify-content: center;
        position: absolute;
        top: 100%;
        width: 220px;
        background-color: black;
        transition: 2s ease;
        padding: 20px 10px;
        gap: 10px;
        font-family: sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        &:hover::after .navitem {
          width: 100%; 
        }
        

        .menu {
          cursor: pointer;
          color: var(--white);
          font-size: 13px;
          gap: 20px;
        }
      }
    }
  }
}
