.side-navbar {
  // height: 1000px;
  height: 100%;
  background-color: var(--dark-gray);
  overflow:auto;
  .category {
    // height: 700px;
    @include flex-container(column);
    font-size: 15px;
    gap: 20px;
    .category-list {
      cursor: pointer;
      @include flex-container(column);
      button {
        position: relative;
        font-family: var(--base-font);
        letter-spacing: 0.2cap;
        height: 43px;
        font-size: 15px;
        color: white;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--dark-gray);
        border: none;
        transition: 1s ease;
        .toggle-icon::after {
          content: "";
          position: absolute;
          right: 1px;
          top: 10px;
          width: 12px;
          height: 1px;
          background-color: white;
        }
        .toggle-icon::before {
          content: "";
          position: absolute;
          top: 5px;
          right: 7px;
          height: 11px;
          width: 1px;
          background-color:white;
        }
        &.rotate .toggle-icon::after {
          transition: 0.5s ease;
          transform: rotate(180deg);
        }

        &.rotate .toggle-icon::before {
          transition: 0.5s ease;
          transform: rotate(90deg);
        }
        &.reverse .toggle-icon::after {
          transition: 0.5s ease;
          transform: rotate(-90deg);
        }

        &.reverse .toggle-icon::before {
          transition: 0.5s ease;
          transform: rotate(-90deg);
        }
      }
      .category-map {
      }
      .line {
        width: 100%;
        border: 1px solid var(--light-gray);
      }
    }
  }
}

// .dropdownMenu {
//     display: none;
//     @include flex-container(column);
//     justify-content: center;
//     position: absolute;
//     top: 40px;
//     width: 220px;
//     background-color: black;
//     transition: 2s ease;
//     padding: 20px 10px;
//     gap: 10px;
//     font-family: sans-serif;
//     font-weight: 100;
//     text-transform: uppercase;

//     .menu {
//       cursor: pointer;
//       color: var(--white);
//       font-size: 13px;
//       gap: 20px;
//     }
//   }
