.Side-bar {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 1001;
  animation-name: to-right;
  transition: 0.3s ease;
  overflow-y: auto;
  background-color: var(--dark-gray);
  box-shadow: 5px 4px 10px var(--shadow-color);
  @keyframes to-right {
    from {
      left: 0;
    }
    to {
      right: 100px;
    }
  }

  .container {
    @include flex-container(column);
    width: 340px;
    background-color: var(--dark-gray);
    box-shadow: 5px 4px 10px var(--shadow-color);
    justify-content: space-between;
    @media (max-width: 360px) {
      width: 270px;
    }
    .top {
      .x-icon {
        padding: 25px 30px 45px 30px;
        img {
          height: 14px;
        }
      }
      .sidenav {
        padding: 0px 30px;
        .title {
          color: rgb(129, 129, 129);
          text-transform: capitalize;
          font-family: sans-serif;
          margin-top: 30px;
          font-size: 14px;
          &:hover {
            color: white;
          }
        }
      }
    }
    .icon {
      margin-bottom: 28px;
      gap: 18px;
      @include flex-container(column);
      justify-content: center;
      align-items: center;
      .instaIcon {
        color: var(--gray);
        &:hover {
          color: white;
        }
      }
      span {
        width: 100%;
        border: 1px solid var(--light-gray);
      }
      img {
        height: 20px;
      }
    }
  }
}
