.side-navbar {
  background-color: var(--dark-gray);
  max-height: calc(100vh - 155px);
  overflow-y:auto;

  .category {
    @include flex-container(column);
    font-size: 15px;
    gap: 20px;
    .category-list {
      cursor: pointer;
      @include flex-container(column);
      .category-map {
        .category-item {
          margin-bottom: 30px;
          padding: 0px 20px;
          font-family: var(--base-font);
          letter-spacing: 0.2cap;
          font-weight: 500;
          cursor: pointer;
          color: var(--gray);
          font-size: 13px;
          @media (max-width: 320px) {
            font-size: 10px;
            }
        }
      }
      button {
        align-items: center;
        padding: 33px 0;
        position: relative;
        font-family: var(--base-font);
        letter-spacing: 0.2cap;
        height: 43px;
        font-size: 15px;
        color: white;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--dark-gray);
        border: none;
        transition: 1s ease;
        @media (max-width: 320px) {
          font-size: 13px;
          }
        .toggle-icon::after {
          content: "";
          position: absolute;
          right: 1px;
          top: 30px;
          width: 12px;
          height: 1px;
          background-color: white;
        }
        .toggle-icon::before {
          content: "";
          position: absolute;
          top: 25px;
          right: 7px;
          height: 11px;
          width: 1px;
          background-color: white;
        }
        &.rotate .toggle-icon::after {
          transition: 0.5s ease;
          transform: rotate(180deg);
        }

        &.rotate .toggle-icon::before {
          transition: 0.5s ease;
          transform: rotate(90deg);
        }
        &.reverse .toggle-icon::after {
          transition: 0.5s ease;
          transform: rotate(-90deg);
        }

        &.reverse .toggle-icon::before {
          transition: 0.5s ease;
          transform: rotate(-90deg);
        }
      }

      .line {
        width: 100%;
        border: 1px solid var(--light-gray);
      }
    }
  }
}

