.inner-filter {
  max-height: calc(100vh - 245px);
  background-color: var(--dark-gray);
  overflow-y: auto;
  .container {
    .filter-info {
      padding: 40px 30px 0 30px;
      @include flex-container(column);
      gap: 20px;
      span{
        color: white;
        font-family: var(--base-font);
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.2cap;
        text-transform: uppercase
      }
      ul{
      @include flex-container(column);
        gap: 18px;
        li {
          cursor: pointer;
          color: white;
          font-family: var(--base-font);
          font-weight: 300;
          font-size: 13px;
        }
      }

    }
  }
}
