.collection-section{
  background-color: var(--dark-gray);

    height: 100%;
    width: 100%;
    .container{
        text-align: center;
        .collection{
            gap: 70px;
            @include flex-container(column);
            align-items: center;
            .title{
                padding: 70px 0 0 0;
                color: white;
                font-family: var(--base-font);
                font-size: 25px;
                letter-spacing: 0.2cap;
            }
            .collection-slider{
                margin: auto 0;
                cursor: pointer;
                width: 90%;
                @media (max-width: 900px) {
                    width: 100%;
                   }

            }
            .collectionButton{
                border: none;
                margin-bottom: 50px;
                height: 56px;
                width: 135px;
                background-color: var(--green);
                text-align: center;
                text-transform: uppercase;
                letter-spacing:0.2cap;
            }
        }


    }
}
