.slider-container {
  width: 100%;
  margin: auto 0;
  img {
    height: 340px;
    object-fit: contain;
    @media (max-width: 320px) {
      //    height: 700px;
    }
  }
}
.slick-track {
  gap: 60px;
  display: flex;
  @media (max-width: 768px) {
    gap: 30px;
  }
  @media (max-width: 425px) {
    gap: 10px;
  }
}
.slick-arrow {
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-arrow:hover {
  transform: translateY(-50%) scale(1.1);
}

@media (max-width: 1000px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  display: none;
}
.slick-next:before {
  content: "→";
}

.slick-prev {
  left: -55px;
}


.carousel-item img {
    transition: opacity 0.3s ease;
  }
  
  .carousel-item img.hovered {
    opacity: 0;
  }